<template>
  <v-layout 
    row 
    wrap>
    <v-flex 
      xs12
      mb-2>
      <v-btn 
        to="receive/new" 
        nuxt>
        Novo Pedido
      </v-btn>
    </v-flex>

    <v-expansion-panel
      expand>
      <v-expansion-panel-content
        v-for="(s, i) in sources"
        :key="i"
      >
        <div slot="header">
          <span class="title">
            Saída: {{ s }} ({{ orders.filter(o => o.from === s).length }})
          </span>
        </div>
        <v-card light>
          <v-card-text>
            <v-layout>
              <v-flex 
                v-for="(o, i) in orders.filter(o => o.from === s)" 
                :key="i"
                xs4
                light
                pa-2>
                <v-card 
                  :to="'receive/' + o.id"
                  dark
                >
                  <v-toolbar dense>
                    <span class="title">{{ o.customerData.name }}</span>
                  </v-toolbar>
                  <v-card-text>
                    <span class="heading">{{ o.packages.length }} pacotes</span>
                  </v-card-text>
                  <v-card-text>
                    <v-chip 
                      v-for="(cnt, d) in getPackagesCount(o.packages)"
                      :key="d" 
                      small
                    >
                      <span class="caption">{{ d }} - {{ cnt }}</span>
                    </v-chip>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
    
  </v-layout>
</template>
<script>
export default {
  asyncData (app) {
    return app.$axios.get('/orders')
      .then(result => {
        return result.data
      })
      .catch(error => {
        console.error('Erro ao ler os pedidos', error)
        return []
      })
      // Busca os clientes 
      .then(orders => {
        var ids = new Set(orders.map(o => o.customer))
        var query = [...ids].map(v => 'id[$in]=' + v)
        return app.$axios.get('/customers?' + query.join('&'))
          .then(response => {
            orders.forEach(o => {
              o.customerData = response.data.filter(c => c.id === o.customer)[0]
            })
            return orders
          })
      })
      .then(orders => {
        return {
          orders: orders
        }
      })
  },
  computed: {
    sources: function () {
      var o = new Set(this.orders.map(o => o.from))
      return [...o].sort()
    }
  },
  methods: {
    getPackagesCount(packages) {
      var summary = {}
      packages.forEach(p => {
        var count = summary[p.destination] || 0
        summary[p.destination] = ++count
      })
      return summary
    }
  }
}
</script>
