<template>
  <v-layout
    row
    wrap>
    <v-flex xs12>
      <v-layout 
        row
        wrap>
        <v-flex xs12>
          <v-layout>
            <v-flex 
              text-xs-left
              xs6
              ma-2>
              <v-select
                v-model="source"
                :items="destinations"
                label="Origem" />
            </v-flex>
            <v-flex 
              text-xs-left
              xs6
              ma-2>
              <v-select
                v-model="destination"
                :items="destinations"
                label="Destino" />
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12>
      <v-layout 
        row
        wrap>
        <v-flex xs12>
          <v-card xs12>
            <v-toolbar 
              dense 
              color="grey">
              Rota Planejada
            </v-toolbar>
            <v-card-text>
              <v-range-slider
                :tick-labels="stopsLabels"
                :value="[0, 1]"
                :max="stopsLabels.length - 1"
                always-dirty
                min="0"
                thumb-label
                thumb-size="64"
                ticks="always"
              >
                <template
                  slot="thumb-label"
                  slot-scope="props"
                >
                  <span class="text-xs-center">
                    {{ planning[props.value].packages }} pct.<br>
                    {{ planning[props.value].weight }} Kg<br>
                    {{ planning[props.value].distance }} km
                  </span>
                </template>
              </v-range-slider>
            </v-card-text>
            <v-card-actions>
              <span class="title">Distância Total: {{ planning.map(p => p.distance).reduce((a, b) => a+b) }} Km</span>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  data () {
    return {
      source: '',
      destination: '',
      
      destinations: [
        'Blumenau', 'Criciúma', 'Curitiba', 'Florianópolis', 'Jaraguá', 'Penha'
      ],
      planning: [
        {
          place: 'Joinville',
          packages: 10,
          weight: 150233,
          distance: 0
        },
        {
          place: 'Jaraguá',
          packages: 8,
          weight: 100812,
          distance: 61
        },
        {
          place: 'Penha',
          packages: 5,
          weight: 802982,
          distance: 26,
        },
        {
          place: 'Florianopolis',
          packages: 3,
          weight: 25233,
          distance: 101
        },
        {
          place: 'Criciúma',
          packages: 0,
          weight: 0,
          distance: 215
        }
      ]
    }
  },
  computed: {
    stopsLabels: function () {
      return this.planning.map(p => p.place)
    },
    stopsArray: function () {
      var array = new Array(this.planning.lenght)
      for(var x = 0; x < this.planning.length; x++) {
        array[x] = x
      }
      return array
    }
  }
}
</script>
